SQL Databases:




   SQL = structured query Language



   Store data in relational/structuned tables.

SQL Data Imports:

In [1]:
import sqlite3 as sq3 #sqlite3 = connects Python to the SQL database (SQLite).
import pandas as pd   #pandas = loads the data as a DataFrame.


ii. Initialize path to SQLite Database:

In [ ]:
path = 'data/classic_rock.db'  #This specifies where the database file is stored.

iii. Create connection to SQL database:

In [ ]:
con = sq3.Connection(path)  #This opens a connection between Python and the SQL database.

iv. Write query:

In [ ]:
query = """ SELECT * FROM rock_songs; """
#SELECT * → select all columns.
#FROM rock_songs → from the table named rock_songs.

v. Execute query:

In [ ]:
data = pd.read_sql(query, con)   #This runs the SQL query and stores the result as a Pandas DataFrame.